@font-face {
	font-family: "Black Ops One";
	src: url('../fonts/BlackOpsOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Quantico";
	src: url('../fonts/Quantico-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
